<!DOCTYPE html>
<html>
<head>
  <title>TixStarterFinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Codystar' rel='stylesheet' type='text/css'>
</head>
<body>

<h1 class="Cody">TixStarter</h1>
<h6>Welcome to Application.HTML.ERB</h6>

<%= yield %>

</body>
</html>
