<!DOCTYPE html>
<html>
<head>
  <title>TixStarter - ForwardFund Your Event with TicketSales</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Codystar' rel='stylesheet' type='text/css'>
</head>
<body>

<!--
  ___________.__          _________ __                 __
  \__    ___/|__|__  ___ /   _____//  |______ ________/  |_  ___________
    |    |   |  \  \/  / \_____  \\   __\__  \\_  __ \   __\/ __ \_  __ \
    |    |   |  |>    <  /        \|  |  / __ \|  | \/|  | \  ___/|  | \/
    |____|   |__/__/\_ \/_______  /|__| (____  /__|   |__|  \___  >__|
                      \/        \/           \/                 \/
 _             __ _                     ___             _
| |__  _   _  / _\ |_ _____   _____    / __\ ___  _   _| | ___
| '_ \| | | | \ \| __/ _ \ \ / / _ \  /__\/// _ \| | | | |/ _ \
| |_) | |_| | _\ \ ||  __/\ V /  __/ / \/  \ (_) | |_| | |  __/
|_.__/ \__, | \__/\__\___| \_/ \___| \_____/\___/ \__, |_|\___|
       |___/                                      |___/

   ╦ ╦┬┬─┐┌─┐  ╦ ╦┬┌┬┐┬
   ╠═╣│├┬┘├┤   ╠═╣│││││
   ╩ ╩┴┴└─└─┘  ╩ ╩┴┴ ┴o

   ╔═╗┌┬┐┌─┐┬  ┬┌─┐  ┌─┐  ╔═╗┌┬┐┌─┐┬  ┬┌─┐  ╔╦╗  ╔╗ ┌─┐┬ ┬┬  ┌─┐     ┌─┐┌─┐┌┬┐
   ╚═╗ │ ├┤ └┐┌┘├┤   │└┘  ╚═╗ │ ├┤ └┐┌┘├┤   ║║║  ╠╩╗│ │└┬┘│  ├┤      │  │ ││││
   ╚═╝ ┴ └─┘ └┘ └─┘  └──  ╚═╝ ┴ └─┘ └┘ └─┘  ╩ ╩  ╚═╝└─┘ ┴ ┴─┘└─┘  o  └─┘└─┘┴ ┴

-->

<%= yield %>

</body>
</html>
