<!DOCTYPE html>
<html>
<head>
  <title>TixStarterFinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>TixStarter</h1>
<h6>Welcome to Application.HTML.ERB</h6>

<%= yield %>

</body>
</html>
